html{
    font-size: 20px;
    font-family: "microsoft yahei"
}
.hide{
    visibility: hidden;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
}
.wrapper{
    width:49.5rem;
    height: 3.5rem;
    margin:0 auto;
}
#logo{
    position: relative;
    width: 15rem;
    margin: .5rem 0;
    height: 3rem;
    float: left;
}
#logo a{
    text-decoration: none;
}
#logo span{
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    top: .7rem;
    right: 0;
    cursor: default;
}
.login-wrap {
    position: relative;
    width: 100%;
    height: 23.75rem;
    margin: .5rem 0 1rem;
    background: url("../images/login_pic_1.jpg");
}
.login-form{
    float:right;
    position: relative;
    top:3rem;
    z-index: 1;
    background-color: #fff;
    overflow: visible;
    width: 17.3rem;
    height: 16rem;
}
.login-box{
    margin: 1rem;
}
.form-header{
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #e4393c;
    cursor: default;
}
.msg-error{
    line-height: .8rem;
    color: #e4393c;
    font-size: .6rem;
    position: relative;
    background: #ffebeb;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 10px;
    margin-bottom: .2rem;
}
.form-item{
    height: 1.9rem;
    border: 1px solid #bdbdbd;
    margin-bottom: 1rem;
}
.login-name-label{
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    border-right: 1px solid #bdbdbd;
    background: url("../images/icon-person.jpg") no-repeat;
}
.login-pwd-label{
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    border-right: 1px solid #bdbdbd;
    background: url("../images/icon-password.jpg") no-repeat;
}
.input-box{
    line-height: .9rem;
    height: .9rem;
    width: 12.7rem;
    border: 0;
    padding: .5rem 0 .5rem .5rem;
    overflow: hidden;
    font-size: .75rem;
    outline: none;
    position: absolute;
}
.login-btn{
    border: 1px solid #cb2a2d;
    height: 1.6rem;
    background-color: #e4393c;
    text-align: center;
    line-height: 1.6rem;
}
.login-btn:hover{
    background-color: #cb2a2d;
}
.login-btn a{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}
.forget-register{
    margin: 1rem 0;
    position: relative;
}
.forget-register a{
    font-size: .7rem;
    color: #666;
    text-decoration: none;
}
.forget-register a:hover{
    color: #e4393c;
    text-decoration: underline;
}
.free-register{
    position: absolute;
    right: 0;
    bottom: 0;
}
.links{
    font-size: .7rem;
    color: #666;
    margin: .5rem 0;
}
.copyright{
    font-size: .7rem;
    color: #666;
}
.links a{
    text-decoration: none;
    color: #666;
    font-size: .7rem;
    margin: 0 .8rem
}
