body{
    background-color: #f6f9fb;
}
.have-account{
    float: right;
    height: 3.8rem;
    line-height: 3.8rem;
    margin-right: .5rem;
    color: #999;
    font-size: .8rem;
}
.have-account a{
    text-decoration: none;
    color: #404040;
}
.wrapper-bottom{
    margin: 0 auto;
    width: 48rem;
    height: 3px;
    background: #f07700;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.content{
    margin: 0 auto;
    width: 48rem;
    padding-top: 2rem;
}
.shadow-box{
    background-color: #ebeeef;
    width: 47.5rem;
    margin-bottom: 2rem;
    position: relative;
    height: 27.4rem
}
.register-box{
    background: #fff;
    position: relative;
    top: -0.5rem;
    right: -0.5rem;
    width: 47.5rem;
    height: 27.4rem;
    box-shadow: -1px 1px 1px rgb(232,235,236);
}
#register-form{
    padding: 5rem 0;
    position: absolute;
}
.form-item{
    margin-bottom: 1.5rem;
}
.form-item-name{
    display: inline-block;
    font-size: .7rem;
    width: 16.9rem;
    padding-right: .5rem;
    text-align: right;
    color: #646464;
    padding-top: .4rem;
}
.form-item a{
    font-size:.6rem;
    text-decoration: none;
    color: #1a66b3;
}
.input-box{
    font-size: .7rem;
    border: 1px solid #e6e6e6;
    height: .9rem;
    width: 14.5rem;
    margin-right: .5rem;
    padding: .5rem;
    line-height: .9rem;
    outline: 0 none;
    border-radius: 2px;
    color: #333;
    font-family: "microsoft yahei";
}
.input-box:focus{
    border-color: #646464;
}
.submit-btn{
    font-size: 1rem;
    border: 0;
    width: 8.9rem;
    height: 2.2rem;
    line-height: 2.2rem;
    cursor: pointer;
    text-align: center;
    background-color: #ff2832;
    color: #fff;
    border-radius: 1.1rem;
    margin-left: 17.6rem;
    font-family: "microsoft yahei";
}
